body {
    color: blue;
    background-color: blanchedalmond;
}

p.first {
    font-size: 2em;
}

p.second {
    padding: 2em;
    border: 2px solid blue;
}

span.pertama {
    color: red;
}

span.kedua {
    font-size: 2em;
}